@charset "utf-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,pre,form,fieldset,input,textarea,p,
blockquote,th,td {margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { margin:0; padding:0; font-size:100%; font-weight:normal; }
q:before,q:after { content:""; }
abbr,acronym { border:0; }

html {
	background-color: #e5e5e5;
}

body {
	font-family: "Droid Serif", Georgia, Serif;
}

.jsActive body { visibility: hidden; }

.wrapper {
	padding: 10px 9% 20px 9%;
}

@media all and (max-width : 1010px) {

	.wrapper {
		padding: 10px 0 20px 0;
	}

}

.section-header h1 {
	float: left;
}

.section-header h1 a {
	background: transparent url(/img/buras-logo-solid.png) no-repeat 67px 0;
	border-right: 1px dotted #ccc;
	color: #555;	
	display: inline-block;
	font-family: Arimo, Arial, Helvetica, sans-serif;
	margin: 0 0 0 14px;
	padding: 105px 28px 0 5px;
	text-transform: uppercase;	
	text-decoration: none;
}

.section-header a .first-part {
	display: block;
	font-size: 4.0em;
	font-weight: bold;
	letter-spacing: -0.04em;
	line-height: 0.9em;
	text-shadow: 2px 2px 0 #fff;
}

.section-header a .second-part {
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.87em;
	margin-left: 5px;
	text-shadow: 1px 1px 0 #fff;
	text-transform: uppercase;
}

.section-extras-nav {
	float: left;
}

.navigation-wrapper {
	float: left; 
}

.nav {
	margin-left: 34px;
}

.main-nav ul {
	padding: 12px 0 0;
}

.main-nav li {
	float: left;
	padding: .2em 1.5em .3em 0;	
}

.main-nav li a {
	color: #555;
	display: inline-block;
	font-family: Arimo, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding: 1px 3px;
	text-decoration: none;
	text-transform: uppercase;
}

.main-nav li .active {

}


.section-header, .main-nav {
	zoom: 1\9; /* IE8 and below clearfix */ 
}

.main-nav:after, .section-header:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.sub-nav li {
	float: left;
	padding: 0 1.5em .3em 0;	
}

.sub-nav li a {
	color: #555;
	display: inline-block;
	font-family: Arimo, Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	padding: 1px 3px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav li a:hover, .nav li a.active, .season-nav li a.active {
	background-color: #03542e;
	color: #fff;
}

.calendar ol li, .calendar header .month {
	color: #03542e;
}

.calendar header .year {
	color: #444;
}

.page {
	margin: 1em 0 0;
	padding: 0.3em 1.5em;
	background: #e5e5e5;
}

.page-wrap {

}

.page .page-header {
	color: #ccc;
	font-family: Arimo, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 1.2em;
	margin: 0 0 14px;
	text-transform: uppercase;
}

.extras {
/*	position: absolute; left: 100px; top: 10px; */
	height: 96px;
	margin-left: 40px;

}

.extras:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.extras article {
	float: left;
	font-size: 0.8em;
	margin-right: 30px;
	width: 220px;
}

.extras h3 {
	color: #888;
	text-transform: uppercase;
}

.extras time {
	text-transform: capitalize;
}


/* slider start */
.slider-wrapper {
	background-color: white;
	float: left;
	height: 470px;
	width: 100%;
  max-width: 960px;
  padding: 8px;  
  box-shadow: 0px 1px 5px 0px #b5b5b5; -webkit-box-shadow: 0px 1px 5px 0px #b5b5b5; -moz-box-shadow: 0px 1px 5px 0px #b5b5b5;
}

.page .slider-wrapper .nivoSlider {
	background-color: white;
	margin-bottom: 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #fff;
  -moz-box-shadow: 0px 0px 0px 0px #fff;
  box-shadow: 0px 0px 0px 0px #fff;
}
/* slider end */


/*  calendar start  */
section.calendar {
	font-family: Arimo, Arial, Helvetica, Tahoma; font-weight: bold;
	float: left;
	margin: 0 0 0 22px;
	text-align: center;
	width: 310px;
	display: none;
}

section.calendar a.month-arrow {
	color: #bbb;
	font-size: 2.4em;
	font-weight: bold;
	margin: 0 16px;
	text-decoration: none;
}

section.calendar header {
	display: inline-block;
	vertical-align: 6px;
}

section.calendar header h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0 16px 12px 0;
	margin-right: 0;
	text-align: center;
	text-transform: uppercase;
}

section.calendar header .month {
	margin: 0 4px 0 0;
}

section.calendar header .year {

}

section.calendar ol li {
	display: inline-block;
	*float: left;
	font-size: 1.1em; font-weight: bold;
	height: 27px; width: 40px;
	text-align: center;
}

section.calendar time {
	display: inline-block;
	text-align: center;
}

section.calendar time a {
	color: #444;
	display: block;
	height: 27px; width: 40px;
	padding: 9px 0 0;
	text-decoration: none;
}

section.calendar time a:hover {
	background-color: #d5d5d5;

}

section.calendar time.other-month a {
	color: #bbb;
}

section.calendar time.other-month a:hover {
	background-color: transparent;
}

section.calendar time.sunday a {
	color: #933;
}
/*  calendar end  */



/*  news posts start  */

article.status {
	margin: 2px 0 20px;
}

article.status div.status-body {
	padding: 10px 10px 10px 0;
	max-width: 40em;
}

article.status header h3 {
	color: #444;
	font-family: Arimo, Arial, Helvetica, Tahoma; font-weight: bold; font-size: 2.0em; font-weight: bold;
}

article.status time {
	color: #777;
	font-size: 0.8em;
}

article.status time span.at-character {
	font-size: 0.7em;
}

/*  news posts end  */





/* team statistics */

.graph {
	margin: 0 20px 0 0;
	width: 400px;
}

.graph canvas {
	float: left;
}

.series-statistics {
	margin: 0 20px 0 0;
}

.series-statistics ul {
	list-style-type: none;
}

.series-statistics ul li {
	float: left;
	margin: 8px 0 8px 20px;
}

.series-statistics ul li span{
	border: 1px solid #666;
	border-radius: 2px;
	display: inline-block;
	margin: 15px 12px 0 0;
	height: 22px; width: 22px;
	vertical-align: -6px;
}

@media all and (min-width : 961px) {

	nav.season-nav {
		position: absolute; top: 210px;
	}

	nav.season-nav ul {
		position: absolute;	left: -80px;
	}

}

nav.season-nav ul li {
	color:#333;
	border:0px solid red;
	font-family: Arimo, Arial, Helvetica, sans-serif;	
	font-size: 1.4em;
	font-weight: bold;
}

nav.season-nav ul li a {
	color: #bbb;
	padding: 1px 3px;
	text-decoration: none;
}


/*  guest posts */


form#form-gb div.div-inputs {
	margin: 30px 300px 20px 0;
}

form#form-gb div.div-inputs label {
	display: block;
	font-size: 0.8em;
	margin: 10px 0 0 0;
}

form#form-gb div.div-inputs input {
	font-size: 1.3em;
}

form#form-gb div.div-inputs textarea {
	height: 140px;
	width: 600px;
}

form#form-gb div.div-inputs input.input_submit {
	font-weight: bold;
	margin: 4px 0 0 0;
	padding: 6px;
}

div#div-game, div#div-msg1, div#div-msg3 {
	display: none;
}

div.div-gbpost p span.caption {
	display: block;
	font-size: 0.8em;
	padding: 2px;
	width: 40px;
}

div.div-gbpost p.name {
	font-family: Arimo, Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-weight: bold;
	margin: 0 0 0 16px;
}

div.div-gbposts {
	margin: 50px 300px 0 0;
	max-width: 700px;
}

div.div-gbpost {
  margin: 0 0 80px 0;
}

div.div-gbpost p.body {
	background-color: #f5f5f5;
	line-height: 1.6em;
  margin: 24px 0 0;
	padding: 0 26px 46px 24px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* creates the triangle */
.div-gbpost p.body:before {
	content:"";
	position:relative; left:1px; top: -26px;
	border:15px solid transparent;
	border-bottom-color: #f5f5f5;
    /* reduce the damage in FF3.0 */
  display:block; 
  width:0;
}

div.div-gbpost p.misc-info {
	color: #666;
	margin: 4px 0 0 24px;
}

div.div-gbpost p.misc-info span.date-value {
	display: inline-block;
	font-size: 0.8em;
	width: 160px;
}

div.div-gbpost p.misc-info span.team-value {
	display: inline-block;
	font-size: 0.8em;
	margin: 0 30px 0 0;
}

div.div-gbpost p.misc-info a.url-value {
	display: inline-block;
	font-size: 0.8em;	
}

div.div-more-posts a {
	color: #333;
	display: block;
	font-size: 1.3em;
	height: 40px;
	margin: 0 0 40px;
	padding: 12px 0 0 0;
	text-align: center;
	width: 600px;
}



/*  guest posts end */



/*  games */

table.game-status td {
	color: #222;
	padding: 8px 34px 8px 0;
}


/*  table  */

table.table-standings td {
	color: #222;
	padding: 5px 10px 0 0;
}


/*  players page  */

/*     players    */

div.player-status {
	height: 60px;
}

div.player-status img {
	float: left;
}

div.player-status img.player-large {
	float: right;
	margin: 0 30px 0 0;
	width: 300px;
}

div.player-status p.player-name-list {
  font-size: 1.3em;
	margin: 0 0 0 65px;
	padding: 10px 0 0 0;
}

div.player-status p.player-name-details {
  font-size: 2.5em;
}

div.player-filler {
	float: left;
	height: 50px;	
	width: 50px;
}

div.player-stat {
	font-size: 0.8em;
	margin: 16px 0 0 0;
}

div.player-stat-value {
	font-size: 1.5em;
}






/* Basic formats */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

/* Global align classes */

.left {
	text-align: inherit;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.full {
	text-align: justify
}

/* Image and table specific aligns */

img.left, table.left, div.left {
	float: left;
	text-align: inherit;
}

img.center, table.center {
	margin-left: auto;
	margin-right: auto;
	text-align: inherit;
}

img.center {
	display: block;
}

img.right, table.right, div.right {
	float: right;
	text-align: inherit;
}

.clear {
	clear: both;
}

body.mceContentBody { 
   background: #fff; 
}